body {
    background: url("../images/light-grey-terrazzo.png");
    background-attachment: fixed;
}


/*--------------padding------------*/
.c-padded-mini {
    padding: 0.2em !important;
}

.c-padded-tiny {
    padding: 0.3em !important;
}

.c-padded {
    padding: 1em !important;
}

.c-padded-big {
    padding: 2em !important;
}

.c-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.c-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.c-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.c-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.c-padded-tb-big {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.c-padded-tb-large {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.c-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.c-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*------------ margin --------------*/
.c-margin-tb-tiny {
    margin-top: 0.3em !important;
}

.c-margin-tb-small {
    margin-top: 0.5em !important;
}

.c-margin-tb-big {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}

.c-margin-tb-huge {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}

.c-margin-bottom-mini {
    margin-bottom: 0.2em !important;
}

.c-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

/*------------ display --------------*/
.c-inline-block {
    display: inline-block !important;
}

.c-container {
    max-width: 75em !important;
    margin: auto !important;
}

.c-container-small {
    max-width: 60em !important;
    margin: auto !important;
}


.c-mobile-show {
    display: none !important;
}


@media screen and (max-width: 768px) {
    .c-mobile-hide {
        display: none !important;
    }

    .c-mobile-show {
        display: block !important;
    }

    .c-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .c-mobile-wide {
        width: 100% !important;
    }
}

/*------------ position --------------*/
.m-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

/*------------ text --------------*/
.c-text-thin {
    font-weight: 300 !important;
}

.c-text-spaced {
    letter-spacing: 1px !important;
}

.c-text-lined {
    line-height: 1.8 !important;
}

.c-p-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}

/*---------- shadow -----------*/

.c-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}


/*---------- position -----------*/

.c-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.c-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}